@charset "UTF-8";
/* --------------------
		設定
-------------------- */
// breakpoint
$breakpoint: (
	'sp': 'screen and (max-width: 767px)', // スマホ 999ｐｘ以下
	'pc': 'screen and (min-width: 768px)' // PC 1000px以上
) !default;

@mixin mq($breaksize: sp) {
	@media #{map-get($breakpoint, $breaksize)} {
		@content;
	}
}

/* ----px → vw---- 書き方：vw(px値) */
$baseWidth : 375;
@function vw($pixelvw) {
   @return $pixelvw / $baseWidth * 100vw;
}

/* ----px → vw (pc)---- 書き方：vw-pc(px値)　*/
$baseWidth-pc : 1280;
@function vw-pc($pixelvw) {
   @return $pixelvw / $baseWidth-pc * 100vw;
}

:root {
	--gray: #707070;
	}

.pc-only {
	@include mq(sp){
	display: none!important;
	}
}
.sp-only {
	@include mq(pc){
	display: none!important;
	}
}

/* --------------------
		content
-------------------- */

body {
	overflow-x: hidden;
	font-size: 16px;
	font-family: 'A-OTF Ryumin Pr6N', 'A-OTF Ryumin Pr6N L-KL', serif;
}

a {
	text-decoration: none;
	color: var(--gray);
}

p {
	color: var(--gray);
}

img {
	max-width: 100%;
}

.wrapper {
	width: vw-pc(1040);
	margin: 0 auto vw-pc(250);
}

.main-visual__pc {
	display: flex;
	justify-content: center;
	max-width: 100vw;
	img {
		width: calc(100% / 3);
		height: auto;
		opacity: 0;
		transition: 3s;
		&.main__fade-pc {
			opacity: 1;
		}
	}
}

h1 {
	font-size: 80px;
	color: var(--gray);
	text-align: center;
	margin-top: vw-pc(50);
}

.main-text {
	font-size: 18px;
	color: var(--gray);
	line-height: 2.222;
	text-align: center;
	margin: vw-pc(40) 0 vw-pc(280);
}

@include mq(sp) {
	body {
		font-size: 14px;
	}

	.wrapper {
		width: vw(300);
		margin: 0 auto vw(150);
	}

	/* SPヘッダー画像 */
	.main-visual__sp {
    	position: relative; /* imgをabsoluteで重ねるため */
		width: 100%;
		padding-top: 100%; /* 必要に応じて調整 */
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover; /* 画像を枠に収める */
			opacity: 0;
			transition: opacity 1.5s ease-in-out;

			&.main__fade-sp {
				opacity: 1;
			}
		}
	}

	/* ヘッダータイトル */
	h1 {
		font-size: 40px;
		margin-top: 20px; /* 必要に応じて調整 */
	}
	/* ヘッダーテキスト */
	.main-text {
		font-size: 14px;
		line-height: 2.071;
		margin: vw(15) 0 vw(100);
	}
}



#section01 {
	position: relative;
	z-index: 1; // ★
}
.section01__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.bg01 {
	background: no-repeat center center/cover;
	background-color: #CCDAE0;
	width: 100%;
	height: 70vh;
	position: sticky; // ★
	top: 15%; // ★
	z-index: -2; // ★
}

#section02 {
	position: relative; // ★
	z-index: 1; // ★
}
.section02__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.bg02 {
	background: no-repeat center center/cover;
	background-color: #C3D6C5;
	width: 100%;
	height: 70vh;
	position: sticky; // ★
	top: 15%; // ★
	z-index: -2; // ★
}

#section03 {
	position: relative; // ★
	z-index: 1; // ★
}
.section03__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.bg03 {
	background: no-repeat center center/cover;
	background-color: #DECAD0;
	width: 100%;
	height: 70vh;
	position: sticky; // ★
	top: 15%; // ★
	z-index: -2; // ★
}


.section__title {
	display: flex;
	padding-top: vw-pc(100);
	align-items: center;
	&-nmb01, &-nmb03 {
		position: absolute;
		top: vw-pc(40);
		img {
			width: vw-pc(118);
			height: auto;
		}
	}
	&-nmb02 {
		position: absolute;
		top: vw-pc(40);
		right: 0;
		img {
			width: vw-pc(118);
			height: auto;
		}
	}
	&-name01 {
		position: absolute;
		top: vw-pc(20);
		right: 0;
		img {
		width: vw-pc(600);
		height: auto;
		}
	}
	&-name02 {
		position: absolute;
		top: vw-pc(20);
		img {
		width: vw-pc(545);
		height: auto;
		}
	}
	&-name03 {
		position: absolute;
		top: vw-pc(20);
		right: 0;
		img {
		width: vw-pc(651);
		height: auto;
		}
	}
}

.section__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	img {
		width: vw-pc(510);
		height: auto;
	}
	&--img1 {
		order: -2;
		z-index: -1;
	}
	&--img2 {
		order: -1;
		z-index: -1;
	}
	&--caption {
		line-break: [strict];
		width: vw-pc(620);
		line-height: 1.875;
		margin: 58px 0;
	}
	&--price {
		font-family: "Roboto";
		font-size: 13px;
		line-height: 3;
		text-align: right;
		margin: 58px 0;
		span {
			margin: 0 10px;
		}
		a {
		transition: all 1s 0s ease;
		}
		a:hover {
			opacity: 0.7;
		}
	}
}

@include mq(sp) {
	.section__title{
		padding-top: vw(70);
		&-nmb01, &-nmb03 {
			position: absolute;
			top: vw(30);
			img {
			width: vw(65);
			height: auto;
			}
		}
		&-nmb02 {
			position: absolute;
			top: vw(30);
			right: 0;
			img {
			width: vw(65);
			height: auto;
			}
		}
		&-name01 {
			position: absolute;
			top: vw(43);
			img {
			width: vw(200);
			height: auto;
			}
		}
		&-name02 {
			position: absolute;
			top: vw(43);
			img {
			width: vw(180);
			height: auto;
			}
		}
		&-name03 {
			position: absolute;
			top: vw(43);
			img {
			width: vw(215);
			height: auto;
			}
		}
	}
	.section__inner {
		display: block;
		position: relative;
		img {
			width: vw(300);
		}
		&--img1 {
			position: relative;
		}
		&--caption {
			width: vw(300);
			text-align: left;
			margin: 50px 0;
		}
		&--price {
			margin: 50px 0;
			padding-bottom: 50px;
		}
	}
}

.fade {
	opacity: 0;
	transform: translate(0, 5%);
	transition: 1.5s;
}
.fade-in {
	transform: translate(0, 0);
	opacity: 1;
}


/* --------------------
		footer
-------------------- */
.footer {
	padding: vw(15) 0;
	background-color: var(--gray);
	@include footer();
	&__copyright {
		text-align: center;
		color: #fff;
		font-size: vw(10);
		@include mq(pc) {
			font-size: vw-pc(20);
		}
	}
}
